﻿@model DataAccess.Word

@{
	ViewBag.Title = "title";
	Layout = "../Shared/_Layout.cshtml";
}

<h2>Add word</h2>
<span>@ViewBag.Message</span>
@using(Html.BeginForm())
{
	@Html.LabelFor(x=>x.EnglishWord)
	@Html.EditorFor(x => x.EnglishWord);
	<br/>
		@Html.LabelFor(x=>x.Translation)
	@Html.EditorFor(x => x.Translation);
	<input type="submit" value="Add"/>
}
